@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Helpers of control</p>
<p>Firefox - F12 - Rede - HTML</p>

@Html.ActionLink("Destiny Redirect", "DestinyRedirect")
<br />
@Html.ActionLink("Destiny RedirectPermanent", "DestinyRedirectPermanent")
<br />
@Html.ActionLink("Destiny RedirectToAction", "DestinyRedirectToAction")
<br />
@Html.ActionLink("Destiny RedirectToActionPermanent", "DestinyRedirectToActionPermanent")
<br />
@Html.ActionLink("Destiny RedirectToRoute", "DestinyRedirectToRoute")
<br />
@Html.ActionLink("Destiny RedirectToRoutePermanent", "DestinyRedirectToRoutePermanent")
